body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: 16px; /* Adjust the base font size as needed */
	line-height: 1.5; /* Improve readability with a good line height */
	color: #333; /* Set a default text color */
}

section .codeSample {
	z-index: -1;
	position: absolute;
	left:0;
	top:0;
	opacity: 0.7;
	font-size: 0.8em;
	height: 400px;
	overflow-y: scroll;
}

h1 {
	font-size: 3.0em;
	margin: 0;
}

h2 {
	font-size: 2.0em;
	margin: 0;
}

p {
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 20px 0px;
}

nav .navbrand {
	text-decoration: none;
	margin-left: 20px;
	font-size: 1.5em;
	color: #fff;
}

nav .navbrand:hover {
	color: #ffffe0;
}

nav .navlink {
	text-decoration: none;
	margin-right: 20px;
	font-size: 1.2em;
	color: #fff;
}

nav .navlink:hover {
	color: #ffffe0;
}

section div.flexitem {
	margin: 0px
	width: 20%;
}

section div.flexitem h2 {
	padding: 10px;
}

div.flexitem p {
	padding: 20px;
	font-size: 1.3em;
}



section  {
	padding: 20px;
}

section.hero {
	text-align: center;
	color:white;
}

section.hero h1 {
	padding-top: 20px;
	padding-bottom: 60px;
	font-size: 5.0em;
	font-weight: bold;
}

section.hero p {
	padding-bottom: 20px;
}

.middle {
	display: flex;
	flex-direction: column;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 16pt;
}

section .code-sample-in-page {
	display: flex;
	height: 400px;
	overflow-y: scroll;
	font-size: 0.6em;
}

section.calltoaction {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

section h2 {
	padding-bottom: 20px;
}

section li {
	padding-bottom: 20px;
}

.calltoaction p {
	font-size: 1.8em;
}


code {
	background-color: #ffffe0;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 1.2em;
}


/*
* a bar stuck to bottom of page */
footer .bottombar {
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	background-color: #333;
	font-size: 1.2em;
	height: 50px;
	overflow: hidden;
	width: 100%;
}

/*
* a button that is black with white text and 
* curved edges
* */


.btn.btn-large {
	padding: 20px;
	margin: 20px;
	color: #fff;
	background-color: #333;
	font-size: 1.2em;
	border-radius: 10px;
}



